/* Font imports */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: JuliaMono;
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Light.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: JuliaMono;
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Regular.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: JuliaMono;
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Medium.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: JuliaMono;
    font-weight: 600;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-SemiBold.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: JuliaMono;
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Bold.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: JuliaMono;
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-ExtraBold.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: JuliaMono;
    font-weight: 900;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Black.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}





/* CSS reset, based on https://www.joshwcomeau.com/css/custom-css-reset */

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}





/* General customization */

body {
    font-family: 'Lora', serif;
    font-size: 11pt;
}

pre.Agda {
    font-family: 'JuliaMono';
    font-size: 10pt;
    overflow: scroll;
}

details {
    border: 2px solid #eee;
    font-size: 10pt;
}

details > summary {
    padding: 0.25em 0.5em;
}

details > summary::after {
    content: '(Collapsed for brevity; click to expand.)';
    padding-left: 0.5em;
}

details > summary {
    color: #444;
    background-color: #eee;
}

details[open] > summary {
    color: black;
}

details[open] > div {
    margin-top: 0;
    padding: 0.5em 1em;
}

details .Agda, details code {
    font-size: 9pt;
}

details + details {
    margin-top: 1em;
}





/* The rest of this file was copied from the default CSS file generated by Agda. */

/* Aspects. */
.Agda .Comment       { color: #B22222 }
.Agda .Background    {}
.Agda .Markup        { color: #000000 }
.Agda .Keyword       { color: #CD6600 }
.Agda .String        { color: #B22222 }
.Agda .Number        { color: #A020F0 }
.Agda .Symbol        { color: #404040 }
.Agda .PrimitiveType { color: #0000CD }
.Agda .Pragma        { color: black   }
.Agda .Operator      {}
.Agda .Hole          { background: #B4EEB4 }

/* NameKinds. */
.Agda .Bound                  { color: black   }
.Agda .Generalizable          { color: black   }
.Agda .InductiveConstructor   { color: #008B00 }
.Agda .CoinductiveConstructor { color: #8B7500 }
.Agda .Datatype               { color: #0000CD }
.Agda .Field                  { color: #EE1289 }
.Agda .Function               { color: #0000CD }
.Agda .Module                 { color: #A020F0 }
.Agda .Postulate              { color: #0000CD }
.Agda .Primitive              { color: #0000CD }
.Agda .Record                 { color: #0000CD }

/* OtherAspects. */
.Agda .DottedPattern        {}
.Agda .UnsolvedMeta         { color: black; background: yellow         }
.Agda .UnsolvedConstraint   { color: black; background: yellow         }
.Agda .TerminationProblem   { color: black; background: #FFA07A        }
.Agda .IncompletePattern    { color: black; background: #F5DEB3        }
.Agda .Error                { color: red;   text-decoration: underline }
.Agda .TypeChecks           { color: black; background: #ADD8E6        }
.Agda .Deadcode             { color: black; background: #808080        }
.Agda .ShadowingInTelescope { color: black; background: #808080        }

/* Standard attributes. */
.Agda a { text-decoration: none }
.Agda a[href]:hover { background-color: #B4EEB4 }
.Agda [href].hover-highlight { background-color: #B4EEB4; }
